<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
<div>
  <div class="row p-5 fondo-header" >
    <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
      <img src="assets/img/Avion.png" class="w-50" alt="avion">
    </div>
    <div class="col-12 col-md-2 d-flex align-items-center justify-content-center text-header">
      VOLEMOS CON:
    </div>
    <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
      <img src="assets/img/teapuesto.png" style="width: 40%" alt="logo">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="w-75 border border-2 rounded-3 py-3 box-reserva">
        <div class="row px-3 box-reserva-title">
          REGISTRA TU RESERVA
        </div>
        <div class="row pt-3">
          <mat-form-field class="col-12 col-md-2 m-0">
            <mat-label>Tipo ruta:</mat-label>
            <mat-select [formControl]="fcTipoRuta">
              <mat-option [value]="1">
                IDA Y VUELTA
              </mat-option>
              <mat-option [value]="2">
                SOLO IDA
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-2 m-0">
            <mat-label>Origen:</mat-label>
            <mat-select [formControl]="fcOrigen" (selectionChange)="fnChangeOrigen()">
              <mat-option [value]="1">
                LIMA
              </mat-option>
              <mat-option [value]="2">
                LIMA
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-2 m-0">
            <mat-label>Destino:</mat-label>
            <mat-select [formControl]="fcDestino" (selectionChange)="fnChangeDestino()">
              <mat-option [value]="1">
                LIMA
              </mat-option>
              <mat-option [value]="2">
                LIMA
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-2 m-0">
            <mat-label>Fecha / Hora:</mat-label>
            <mat-select [formControl]="fcProgramacion" (selectionChange)="fnChangeProgramacion()">
              <mat-option [value]="1">
                LIMA
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-2 m-0">
            <mat-label>Cantidad Pax</mat-label>
            <input matInput [formControl]="fcCantidad" type="number" min="1" (change)="fnChangeCantidad()">
          </mat-form-field>
          <div class="col-12 col-md-2 m-0">
            <button mat-raised-button class="w-100" style="height: 56px; font-weight: bold" color="primary" [disabled]="bReservar" >RESERVAR</button>
          </div>
        </div>
      </div>
  </div>
</div>
